md-analysis-utils/protein-ligand/example-data/WT_298_2PET_RESP/processed_trajectories/md_dry_100ns_r1.dcd
md-analysis-utils/protein-ligand/example-data/WT_298_2PET_RESP/processed_trajectories/md_dry_100ns_r2.dcd
md-analysis-utils/protein-ligand/example-data/WT_298_2PET_RESP/processed_trajectories/md_dry_100ns_r3.dcd
md-analysis-utils/protein-ligand/example-data/WT_298_2PET_RESP/processed_trajectories/md_dry_100ns_r4.dcd